@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4 {
    font-family: "Cal Sans", sans-serif;
  }
  p {
    font-family: "Inter", sans-serif;
  }
  h1 {
    @apply text-2xl md:text-5xl lg:text-6xl xl:text-6xl 2xl:text-6xl font-extrabold leading-none tracking-tight text-center;
  }
  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-4xl font-bold leading-none tracking-tight;
  }
  h3 {
    @apply text-xl md:text-2xl lg:text-3xl xl:text-3xl 2xl:text-3xl font-semibold leading-none tracking-tight;
  }
  h4 {
    @apply text-md md:text-lg lg:text-xl xl:text-xl 2xl:text-xl font-bold leading-none tracking-tight;
  }
  h5 {
    @apply text-sm md:text-md lg:text-lg xl:text-lg 2xl:text-lg font-bold leading-none tracking-tight;
  }
  p {
    @apply text-[1.4rem] md:text-md lg:text-[1.8rem] font-medium leading-none tracking-normal;
  }
  button {
    @apply border-none cursor-pointer text-sm md:text-md lg:text-md;
  }
  form input {
    @apply mb-6 mt-1 p-4 rounded-lg border border-neutral-200 bg-neutral-100 text-neutral-700 text-sm md:text-md lg:text-md;
  }
  form label {
    @apply text-neutral-500 dark:text-neutral-200 text-sm md:text-md lg:text-md;
  }
  form textarea {
    @apply mb-6 mt-1 p-4 rounded border border-neutral-200 bg-neutral-100 text-neutral-700 text-sm md:text-md lg:text-md;
  }
  form button {
    @apply p-4 w-[20%] rounded-lg border-solid border-2 border-neutral-300 hover:border-neutral-100 hover:border-opacity-85 dark:hover:border-opacity-85
      text-sm md:text-sm lg:text-md
      bg-white hover:bg-fuchsia-50 dark:bg-neutral-100
      text-neutral-600 hover:text-fuchsia-800
      hover:ring-4 ring-fuchsia-700 ring-opacity-60;
  }
  /* section:last-child {
    @apply min-h-[calc(100vh)];
  } */
  .homePageSection {
    @apply flex flex-col items-center justify-center w-full min-h-[calc(100vh)] pb-[25rem] pt-2 md:pt-6 px-2 md:px-6 space-y-8;
  }
  .homePageSection div{
    @apply flex flex-col w-full space-y-6 p-4 md:p-14 pb-8 text-left;
  }
  .homePageSection div h1{
    @apply text-3xl md:text-4xl lg:text-5xl xl:text-5xl 2xl:text-5xl font-extrabold leading-none tracking-tight text-center pb-24;
  }
  .homePageSection div h4{
    @apply leading-[3rem] md:leading-[5rem];
  }
  .homePageSection div p{
    @apply pb-8;
  }
  .companyPage section {
    @apply w-full ; /* min-h-[calc(100vh)] */
  }
  .companyPage section .defaultDiv{
    @apply w-full space-y-6 p-4 md:p-14 pb-8;
  }
  .companyPage section .defaultDiv h1{
    @apply text-3xl md:text-4xl lg:text-5xl xl:text-5xl 2xl:text-5xl font-extrabold leading-none tracking-tight text-center pb-12;
  }
  .companyPage section .defaultDiv h3:nth-child(odd){
    @apply text-right;
  }
  .companyPage section .defaultDiv h4{
    @apply leading-[3rem] md:leading-[5rem];
  }
  .companyPage section .defaultDiv p{
    @apply pb-8;
  }
  .companyPage .carouselWrapper{
    @apply w-[110vw] h-[50rem] md:h-[60rem] relative flex items-center overflow-visible bg-transparent;
  }
  .companyPage .carouselWrapper .box{
    @apply p-8 h-full w-[35rem] md:w-[45rem];
  }
  .companyPage .carouselWrapper .box .card{
    @apply flex flex-col content-between shrink-0 items-center relative h-full w-[30rem] md:w-[40rem] rounded-3xl overflow-hidden bg-gradient-to-b from-[var(--background-grey)] to-[var(--background-grey-light)] border-2 border-solid border-[var(--background-grey-highlight)] shadow-inner;
  }
  .companyPage .carouselWrapper .box .card div{
    @apply flex w-[100%] h-[25%] mb-auto justify-center items-center absolute;
  }
  .companyPage .carouselWrapper .box .card h4{
    @apply px-12 pt-6 break-normal text-center text-xl md:text-xl lg:text-2xl font-bold leading-none tracking-tight /* border-2 border-solid border-red-700 */;
  }
  .companyPage .carouselWrapper .box .card img{
    @apply w-[125%] h-[125%] max-w-[200%] -bottom-[28%] absolute;
  }

  .colored-cards .colored-card {
    @apply flex flex-col min-h-[20rem] bg-transparent rounded-lg shadow-md;;
  }
  .colored-cards .spacer {
    @apply mb-[10rem];
  }

  .hero1ContainerMargins {
    @apply ml-1 md:ml-[4rem] xl:ml-[8rem] 2xl:ml-[13.5rem] mr-1 md:mr-[4rem] xl:mr-[8rem] 2xl:mr-[13.5rem];
  }
  .hero1ContentMargins {
    @apply ml-[4rem] md:ml-[6rem] xl:ml-[12rem] 2xl:ml-[16rem] mr-0 md:mr-[4rem] xl:mr-[8rem] 2xl:mr-[13.5rem] mt-[10rem] md:mt-[18rem] xl:mt-[24rem] 2xl:mt-[24rem];
  }
}




:root {
  /* --background-grey: #131316; */
  --background2-grey: #1a1515;
  --background-grey: #140f0f;
  --background-grey-light: hsl(0, 14%,10%);
  --background-grey-highlight: rgb(33, 33, 33, 0.5);
  --dark-grey: #131010;
  --medium-grey: #636363;
  --light-grey: #eeeeee;
  --ash: #f4f4f4;
  --primary-blue: rgb(40, 45, 215);
  --primary-red: hsl(0, 100%, 40%);
  --secondary-red: hsl(0, 100%, 30%);
  --primary-fuchsia: #800080;
  --primary-fuchsia-dark1: hsl(300, 100%, 20%);
  --primary-fuchsia-dark2: hsl(300, 100%, 20%);
  --primary-fuchsia-dark3: hsl(300, 100%, 15%);
  --primary-fuchsia-dark4: hsl(300, 100%, 10%);
  --primary-fuchsia-dark5: hsl(300, 100%, 5%);
  --purple-50: hsl(270, 100%, 98%);
  --purple-100: hsl(269, 100%, 95%);
  --purple-150: hsl(269, 100%, 93.5%);
  --purple-200: hsl(269, 100%, 92%);
  --purple-250: hsl(269, 98.5%, 88.5%);
  --purple-300: hsl(269, 97%, 85%);
  --purple-350: hsl(269.5, 96%, 80%);
  --purple-400: hsl(270, 95%, 75%);
  --purple-450: hsl(270.5, 93%, 70%);
  --purple-500: hsl(271, 91%, 65%);
  --purple-550: hsl(271, 86%, 60.5%);
  --purple-600: hsl(271, 81%, 56%);
  --purple-650: hsl(271.5, 76%, 51.5%);
  --purple-700: hsl(272, 72%, 47%);
  --purple-750: hsl(272.5, 69.5%, 43%);
  --purple-800: hsl(273, 67%, 39%);
  --purple-850: #631f99;
  --purple-900: hsl(274, 66%, 32%);
  --purple-950: hsl(274, 87%, 21%);
  --purple-1000: hsl(275, 89%, 18%);
  --purple-1100: hsl(275, 92%, 15%);
  --purple-1200: hsl(275, 94%, 13%);
  --purple-1300: hsl(276, 96%, 10%);
  --purple-1400: hsl(275, 98%, 8%);
  --purple-1400: hsl(275, 100%, 6%);
  --fuchsia-50: hsl(289, 100%, 98%);
  --fuchsia-100: hsl(287, 100%, 95%);
  --fuchsia-150: hsl(287.5, 98%, 93%);
  --fuchsia-200: hsl(288, 96%, 91%);
  --fuchsia-250: hsl(289.5, 94.5%, 87%);
  --fuchsia-300: hsl(291, 93%, 83%);
  --fuchsia-350: hsl(291.5, 92%, 78%);
  --fuchsia-400: hsl(292, 91%, 73%);
  --fuchsia-450: hsl(292, 88.5%, 67%);
  --fuchsia-500: hsl(292, 84%, 61%);
  --fuchsia-550: hsl(292.5, 76.5%, 55%);
  --fuchsia-600: hsl(293, 69%, 49%);
  --fuchsia-650: hsl(294, 70.5%, 44.5%);
  --fuchsia-700: hsl(295, 72%, 40%);
  --fuchsia-750: hsl(295, 71%, 36.5%);
  --fuchsia-800: hsl(295, 70%, 33%);
  --fuchsia-850: hsl(296, 67%, 30.5%);
  --fuchsia-900: hsl(297, 64%, 28%);
  --fuchsia-950: hsl(297, 90%, 16%);
  --white: white;
  --border: 1px solid rgb(19, 16, 16, 0.5);
  --mmapp-gradient: linear-gradient(90deg, rgba(204,0,0,1) 0%, rgba(128,0,128,1) 50%, rgba(40,45,214,1) 100%);
  --mmapp-gradient-hover: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(173, 0, 173)50%, rgb(48, 55, 253) 100%);
  --border: 1px solid var(--background-grey-highlight);
  --border--inactive: 1px solid transparent;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --link-hover: #d5d5d5;
  --link-title: #a7a7a7;
  --link-inactive: #888888;
  --clip-section-right: polygon(100% 0, 0% 100%, 100% 100%);
  --clip-section-left: polygon(0 0, 0% 100%, 100% 100%);


  --test-color: rgb(186, 186, 186);
  --pen-red: #960200;
  --lavender: #D8D4F2;
  --silver: #C1C1C1;
  --rose-quartz: #BB9BB0;
  --pale-purple: #F3E0EC;
  --lavender-blush: #F3E8EE;
  --thistle: #DBC2CF;
  --periwinkle: #BBB6DF;

  --bgNoise: hsl(211, 50%, 100%);
  --primary-fuchsia: rgb(128, 0, 128);

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );____----

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
} */
/* @font-face {
  font-family: "Cal Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("./fonts/webfonts/CalSans-SemiBold.woff2") format("woff2"),
    url("./fonts/webfonts/CalSans-SemiBold.woff") format("woff"),
    url("./fonts/webfonts/CalSans-SemiBold.ttf") format("truetype");
} */

.Inter-100 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  
}
.Inter-200 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.Inter-300 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.Inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.Inter-500 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.Inter-600 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.Inter-700 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.Inter-800 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.Inter-900 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* html {
  font-size: 62.5%;
} */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: inherit;
  background-color: var(--background-grey);
  color: var(--white);
  letter-spacing: -0.4px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
main {
  position:relative;
  /* top: 52px; */
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0px 0 0 0;
}
@media (max-width: 768px) {
  main {
    padding: 0.25rem;
    margin: 0 0 0 0;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* .textShadow {
  text-shadow:1px 1px 2px rgba(0,0,0,0.25);
} */

.content-spacer {
  min-height: 75vh;
  padding: 1.5rem;
  margin-bottom: 10vh;
}

.h100vh{
  min-height: 100vh;
}
.x100vw{
  min-width: 100vw;
}

.content-spacer:last-child {
  min-height: 100vh;
}
/* .content-spacer:first-child {
  position: relative;
  top: 75px;
} */
#Home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.homeBackground img{
  position: absolute;
  top: 0px;
  left:0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
  /* border-radius: 0.5rem; */
}

.homeMain{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center;
  z-index: 2;
}
.homeMain img{
  position: relative;
  width: auto;
  max-width: 50vw;
  height: auto;
  top: 2.5vh;
}
.homeMain h2{
  position: relative;
  max-width: 90%;
  top: 65vh;
  font-size: 8rem;
}

.borderImage {
  border-image-source: url(/images/features/proDisplay.webp);
  border-image-slice: 50;
  /* border-image-width: 20;
  border-image-outset: 1; */
  border-image-repeat: round;
}



/* ========= NavBar ============*/

.menuSVG {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowDown {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#arrow-down-path {
  fill: var(--link-title);
}

.btn {
  display: block;
  /* background: var(--mmapp-gradient); */
  background: rgb(40, 45, 215, 0.5);
  color: var(--white);
  text-align: center;
  padding: 0.65rem 2.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 0.6rem;
  transform: scale(1) translateY(0px);
  transition: 0.1s ease-in-out;
}
.btn:hover {
  /* font-size: 1.0125rem; */
  /* transform: scale(1.0125); */
  /* background: var(--primary-red); */
  /* backdrop-filter: brightness(50%); */
  background: rgb(40, 45, 215, 1);
  /* filter: brightness(150%); */
  transform: scale(1.005) translateY(-0.075rem);
  transition: 0.1s ease-in-out;
}

/* .icon {
  padding: 0.5rem;
  background-color: var(--light-grey);
  border-radius: 10px;
} */

.logo {
  margin-right: 2.4rem;
  width: fit-content;
  z-index: 902;
  /* border:1px solid rgb(255, 230, 0); */
}
/* .logo img{
  display: flex;
	max-height: 40px;
}
.logo:hover {
  cursor: pointer;
} */

.dropdown-btn img{
	min-height: 30px;
	max-height: 2rem;
  min-width:145px;
}

#nav-menu {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  /* border-bottom: var(--border); */
  /* background: transparent; */
  z-index: 900;
}
/* @media screen and (hover: none) {
  #nav-menu {
    background: var(--dark-grey);
  }
} */


.nav-container {
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 3.2rem;
  height: 50px;
  margin: 0 10px 0 10px;
  padding: 1.92rem 0.92rem 1.92rem 0;
}
.nav-start {
  background: rgb(20, 15, 15, 0.65);
  backdrop-filter: blur(50px);
  border-radius: 0.6rem;
}


.menu {
  position: relative;
  /* background: var(--dark-grey); */
}

.menu-bar li:first-child .dropdown {
  flex-direction: initial;
  border-radius: 0.6rem;
  /* min-width: 480px; */
}
.menu-bar li:nth-child(2) .dropdown {
  border-radius: 0 0.6rem 0.6rem 0.6rem;
}
.menu-bar li:nth-child(3) .dropdown {
  border-radius: 0 0 0.6rem 0.6rem;
}
.menu-bar li:nth-child(4) .dropdown {
  border-radius: 0 0.6rem 0.6rem 0.6rem;
}


.menu-bar li:first-child ul:nth-child(1) {
  border-right: none;
}

/* .menu-bar li:nth-child(n + 2) ul:nth-child(1) {
  border-bottom: var(--border);
} */

.menu-bar .dropdown-link-title {
  font-weight: 600;
}

.menu-bar .nav-link {
  font-size: 1.84rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  padding: 0rem 2.5rem;
  min-width: 6rem;
  min-height: 52px;
  /* margin: 0 0.6rem; */
  color: var(--link-title);
  /* border-radius: 0 0 1rem 1rem; */
  border: var(--border--inactive);
}
li:nth-child(1) .nav-link:nth-child(1) {
  padding: 0rem 1.2rem;
  min-width: 6rem;
  min-height: 52px;
  /* margin: 0 0.6rem; */
  border-radius: 0.6rem 0 0 0.6rem;
}
li:nth-child(4) .nav-link:nth-child(1) {
  /* padding: 0rem 1.2rem; */
  border-radius: 0 0.6rem 0.6rem 0;
}

.menu-bar .nav-link:hover,
.menu-bar .dropdown-btn[aria-expanded="true"],
.menu-bar .nav-link:hover #arrow-down-path,
.menu-bar .dropdown-btn[aria-expanded="true"] #arrow-down-path {
  background-color: rgba(20, 15, 15, 0.85);
  border: var(--border);
  color: var( --link-hover);
  fill: var( --link-hover);
}

.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container .search {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 901;
}

.dropdown {
  display: flex;
  flex-direction: column;
  /* min-width: 230px; */
  white-space: nowrap;
  /* background-color: var(--background2-grey); */
  /* background: rgb(19, 19, 22, 0.98); */
  background-color: rgba(20, 15, 15, 0.99);
  border-radius: 1rem;
  border: var(--border);
  position: absolute;
  top: 52px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9) translateY(-30px);
  transition: 0.1s ease-in-out;
  box-shadow: var(--shadow);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  z-index: 900;
}
/* @media screen and (hover: none) {
  #nav-menu {
    background: var(--background2-grey);
  }
} */

.dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateY(0px);
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem;
  font-size: 1.6rem;
  font-weight: 400;
  z-index: 900;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.24rem;
  z-index: 950;
}

.dropdown-link {
  display: flex;
  gap: 0.8rem;
  padding: 1rem 1.8rem;
  width: fit-content;
  /* margin: 0 0.8rem; */
  border-radius: 0.5rem;
  color: var(--link-inactive);
  text-shadow: 0.2rem 0.3rem 0.5rem rgba(0,0,0,0.5);
  transition: 0.2s ease-in-out;
}
.dropdown-link:hover{
  color: var(--link-hover);
  background-color: rgba(34, 37, 46, 0.35);
  cursor: pointer;
  /* font-weight: 600; */
  transition: 0.2s ease-in-out;
}

.dropdown-link-title {
  color: var(--link-title);
}

/* .dropdown-link p {
  font-size: 0.8rem;
  color: var(--medium-grey);
} */

.right-container {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}

.right-container .search {
  position: relative;
}

.right-container img {
  border-radius: 50%;
}

/* .search input {
  background-color: var(--ash);
  border: none;
  border-radius: 0.6rem;
  padding: 1.12rem;
  padding-left: 3.84rem;
  font-size: 1.6rem;
  width: 100%;
  border: var(--border);
}

.search .bx-search {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 2.08rem;
  transform: translateY(-50%);
  opacity: 0.6;
} */

#hamburger {
  display: none;
  /* width: 4rem;
  height: fit-content; */
  /* padding: 0.16rem; */
  margin-left: 2rem;
  font-size: 3rem;
  position: relative;
}

/* @media (max-width: 1230px) {
  .menu-bar .nav-link {
    font-size: 1rem;
  }
  .dropdown ul {
    font-size: 0.9rem;
  }
}
@media (max-width: 1140px) {
  .menu-bar .nav-link {
    font-size: 0.925rem;
  }
  .dropdown ul {
    font-size: 0.825rem;
  }
} */
@media (max-width: 767px) {
  .btn {
    display: none;
  }
  #hamburger {
    display: block;
  }

  #nav-menu {
    top: 0px;
    background: transparent;
    backdrop-filter: blur(0px);
    border-bottom: 0;
  }
  /* .container {
    padding: 1.92rem;
  } */

  .menu {
    display: none;
    position: relative;
    top: 52px;
    left: 0;
    /* min-height: 100%; */
    /* width: 100vw; */
    /* border:1px solid rgb(255, 0, 0); */
  }
  .menu-spacer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100%;
    /* background: var(--dark-grey); */
    background: rgb(19, 19, 22, 0.93);
    backdrop-filter: blur(8px);
    /* border:1px solid rgb(255, 230, 0); */
    /* background-color: rgb(153, 0, 0, 0.5); */
  }

  .menu-bar li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .dropdown {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 0.5rem;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: none;
    background: rgb(19, 19, 22, 0.5);
  }
  .dropdown ul {
    font-size: 2.6rem;
    font-weight: 500;
  }
  .dropdown-btn img{
    padding-left: 1rem;
    min-height: 4.8rem;
  }
  .dropdown-link {
    /* gap: 0.8rem; */
    padding: 1.6rem 1.6rem;
    color: var(--link-hover);
  }
  .menu.show,
  .menu-spacer.show,
  .dropdown.active,
  .btn.show {
    display: block;
  }
  .dropdown.active {
    transform: scale(1) translateY(0px);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
  /* .dropdown ul {
    padding-left: 1rem;
  } */

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* row-gap: 1rem; */
    padding: 0.75rem 1.6rem;
  }

  .menu-bar .nav-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* min-height: 7rem; */
    /* padding: 4.8rem 4.8rem 4.8rem 4.8rem; */
    padding: 2rem 3rem;
    font-weight: 600;
    font-size: 4rem;
    margin: 0;
  }

  .menu-bar .nav-link:hover,
  .menu-bar .dropdown-btn[aria-expanded="true"] {
    background-color: rgba(34, 37, 46, 0.5);
  }

  li:nth-child(1) .nav-link:nth-child(1) {
    padding: 2rem;
  }

  .menu-bar li:first-child .dropdown {
    min-width: 100%;
  }

  .menu-bar > li:not(:last-child) {
    /* padding-bottom: 0.5rem; */
    border-bottom: var(--border);
  }

  .logo {
    margin-right: 0rem;
  }
  .nav-container {
    column-gap: 1.6rem;
    padding: 1rem 1rem;
  }
  .menu.show .dropdown.active ul {
    padding: 0.5rem 1.5rem;
  }
}

/* @media (max-width: 600px) {
  .right-container {
    display: none;
  }
} */